<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-briefcase"></i> 工作经验</h6>
    <div class="px-3 pb-3 small">
        {% if site.data.profile.experience %}
        {% for item in site.data.profile.experience %}
        <div class="py-2">
            <div class="font-weight-bold">{{ item.name }}</div>
            <div class="d-flex">
                <div>{{ item.position }}</div>
                <div class="ml-auto mt-auto text-muted no-break"><i>{{ item.date }}</i></div>
            </div>
            {% if item.description %}
            <ul class="list pl-3 mb-1 mt-1">
                {% for desc in item.description %}
                <li>{{ desc }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
